//- section.menu
//-     .container
//-         .row
//-             .col-2
//-                 figure
//-                     a(href="#")
//-                         img(src="./img/logo.png", alt="")
//-             .col
//-                 ul
//-                     li 
//-                         a(href="#") HOME
//-                     li 
//-                         a(href="#") ABOUT
//-                     li 
//-                         a(href="#") WORK
//-                     li 
//-                         a(href="#") BLOG
//-                     li 
//-                         a(href="#") CONTACT
