extends _layout/layout.pug
block main 
	section.home_slider 
		.container
			.row
				.col
					h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe voluptatem sunt odio ut itaque sit.
					a.btn.btn-more(href="#") WORK WITH US