extends _layout/layout.pug
block main 
	section.home_slider 
		.container 
			.row 
				.col 
					h1 Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
					p 
						a.btn.btn-more(href="#") WORK WITH US!
	section.home_services
		.container
			.row
				.col
					h2 Services we provide
					p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row
				.col-sm-3
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Branding
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
				.col-sm-3
					figure
						img(src="./img/home_icon_2.png", alt="")
					h3 Design
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis temporibus dolorem eius ipsum cumque impedit.
				.col-sm-3
					figure
						img(src="./img/home_icon_3.png", alt="")
					h3 Development
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis temporibus dolorem.
				.col-sm-3
					figure
						img(src="./img/home_icon_4.png", alt="")
					h3 Rocket Science
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
	section.home_workingteam
		.container
			.row
				.col
					h2 Meet our beautiful team
					p We are a small team of designers and developers, who help brands with big ideas.
			.row
				.col-sm-3
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Anne Hatthaway
					h4 CEO / Marketing Guru
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ipsa quis qui veniam, dolor dolores delectus deleniti ullam quo expedita cum, et architecto dolore eum fugiat ducimus tempore consectetur corporis.
				.col-sm-3
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Kata Upton
					h4 Creative Director
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ipsa quis qui veniam, dolor dolores delectus deleniti ullam quo expedita cum, et architecto dolore eum fugiat ducimus tempore consectetur corporis.
				.col-sm-3
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Olivia Wilde
					h4 Lead Designer
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ipsa quis qui veniam, dolor dolores delectus deleniti ullam quo expedita cum, et architecto dolore eum fugiat ducimus tempore consectetur corporis.
				.col-sm-3
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Ashley Greene
					h4 SEO / Developer
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ipsa quis qui veniam, dolor dolores delectus deleniti ullam quo expedita cum, et architecto dolore eum fugiat ducimus tempore consectetur corporis.
	section.home_skills
		.container
			.row
				.col
					h2 We got skills!
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur distinctio harum incidunt odio laboriosam dolorem enim qui consequatur fuga inventore explicabo sapiente iste, eum minus excepturi a error animi impedit!
			.row
				.col-sm-3
					.progress.progress_web_design
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 90%
					h3 Web Design
				.col-sm-3
					.progress.progress_html_css
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 75%
					h3 Html / Css
				.col-sm-3
					.progress.progress_graphic_design
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 70%
					h3 Graphic Design
				.col-sm-3
					.progress.progress_ui_ux
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 85%
					h3 Ui / Ux
	section.home_portfolio
		.container
			.row
				.col
					h2 Our Portfolio
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perferendis animi sequi beatae voluptatum esse blanditiis fugit quas vero, corrupti, voluptatem facere molestias omnis labore assumenda eaque, cupiditate sapiente reprehenderit!
			.row
				.col
					p 
						a.btn.btn-white(href="#") All
				.col
					p 
						a.btn.btn-white(href="#") WEB
				.col
					p 
						a.btn.btn-white(href="#") APPS
				.col
					p 
						a.btn.btn-white(href="#") ICONS
			.row
				.col-sm-6
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Isometric perspective mock-up
				.col-sm-6
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Isometric perspective mock-up
				.col-sm-6
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Isometric perspective mock-up
				.col-sm-6
					figure
						img(src="./img/home_icon_1.png", alt="")
					h3 Isometric perspective mock-up
			.row
				.col
					p 
						a.btn.btn-aqua(href="#", rel="") Load more projects
						